<template name="commentSubmit">
  <div class="comment-div" align="center">
  
      <form name="comment">
        <h3>On the internet, nobody knows you are a 
          <span class="ec ec-dog"></span> !
        </h3>
        <input autofocus="autofocus" type="text" class="form-control" name="body" id="ex3 input" placeholder="yap yap yap"/><br />
        <input type="submit" value="Add comment" class="btn btn-primary">
        <a href="/yap" class="btn btn-primary"> Back</a>
      </form>
    </div>

  </template>