<template name="yapsSubmit">
  <div class="side">
          <form role="form" class=" yapsSubmitForm">
              <center><h3>Send yap! It's anonymous <span class="ec ec-sunglasses"></span>
              </h3>
                <textarea autofocus="autofocus"  type="message" id="yap" class="textarea" name="yap" placeholder="Type your yap here ..."></textarea>
                <br />
                <button type="submit" class="btn btn-primary"><span class="ec ec-sunglasses"></span> Yap yap!</button>
              </center>
              </form>
          </div>
      </template>